<div class="wrapper">
    <form class="form-signin">       
      <h2 class="form-signin-heading">Add Student</h2>
      <input type="text" class="form-control" name="Department" placeholder="Department " required="" autofocus="" />
      <input type="text" class="form-control" name="level" placeholder="Level" required="" autofocus="" />
      <input type="text" class="form-control" name="matric_number" placeholder="Matric Number"required="" autofocus="" />
      <input type="text" class="form-control" name="firstName" placeholder="First Name " required="" autofocus="" />
      <input type="text" class="form-control" name="lastName" placeholder="Last Name " required="" autofocus="" />
      <input type="text" class="form-control" name="email" placeholder="Email " required="" autofocus="" />
      <button class="btn btn-lg btn-primary btn-block" type="submit">Create Student</button>   
    </form>
  </div>