<div class="wrapper">
    <form class="form-signin">       
      <h2 class="form-signin-heading">Add Course</h2>
      <input type="text" class="form-control" name="Department" placeholder="Department " required="" autofocus="" />
      <input type="text" class="form-control" name="level" placeholder="level" required="" autofocus="" />
      <input type="text" class="form-control" name="course_name" placeholder="Course Name"required="" autofocus="" />
      <input type="text" class="form-control" name="course_code" placeholder="Course Code " required="" autofocus="" />
      <button class="btn btn-lg btn-primary btn-block" type="submit">Create Course</button>   
    </form>
  </div>