<div class="wrapper">
    <form class="form-signin">       
      <h2 class="form-signin-heading">Add Department</h2>
      <input type="text" class="form-control" name="Department_name" placeholder="Department Name " required="" autofocus="" />
      <input type="text" class="form-control" name="Department_code" placeholder="Department Code e.g EEG" required="" autofocus="" />
      <button class="btn btn-lg btn-primary btn-block" type="submit">Create Department</button>   
    </form>
  </div>