<div class=container>
    <h1>
        List of Levels
        <a ui-sref="dashboard.level.create">Create a Level</a>
    </h1>

    <hr/>

    <table class="table table-responsive table-condensed table-striped">
        <thead>
            <tr>
                <th>N<u>o</u>.</th>
                <th>Level Name</th>
                <th>Date Created</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="level in ALCLevel.resolvedData.levels">
                <td>{{ $index + 1 }}</td>
                <td>{{ level.levelName }}</td>
                <td>{{ level.createdAt | date: 'EEE, MMM. dd, yyyy' }}</td>
                <td>
                    <button ng-click="ALCLevel.deleteLevel(level, $index)">Delete</button>
                </td>
            </tr>
            <tr ng-if="!ALCLevel.resolvedData.levels.length">
                <td colspan="4" class="text-center">No Levels Found</td>
            </tr>
        </tbody>
    </table>

</div>